
<nav class="main-nav">
  <div class="content-container">
    <ul>
      {% for node in pages_list | sort:name %}
      {% if group == null or group == node.group %}
      {% if page.url == node.url %}
      <li class="active"><a href="{{node.url}}" class="active">{{node.menutitle}}</a></li>
      {% else %}
      <li><a href="{{node.url}}">{{node.menutitle}}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
      <a href="/"><img src="/assets/images/logo.svg" alt="Trevor Allen"></a>

    </ul>
  </div>
</nav>
