.post .content-container ul {
  list-style: none;

  li {
    position: relative;
    padding-left: .75em;
    margin-bottom: 1.3rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: .6em;
      background: $bullet-color;
      width: .375em;
      height: .375em;
      border-radius: .375em;
    }
  }
}
