.site-footer {
  background: $nav-bg;
  height: $nav-height - 1;
  color: $nav-color;
  border-top: 1px solid $nav-border;
  position: relative;
  font-size: .8rem;
  font-weight: 500;
  line-height: $nav-height - 1;
  clear: both;
  .content-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
  }
}
