.no-js body .masthead .caption h1 {
  opacity: 1;
}

.no-anim .masthead .caption h1 {
  opacity: 1;
}

.masthead {
  height: $XS;
  width: 100%;
  background: url(/assets/images/front_header.jpg) no-repeat center 25%;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  @include breakpoint($L) {
    height: $S;
  }
  .caption {
    margin-top: 2rem;
    @include grid-span(7,5);
    @include breakpoint($M) {
        @include grid-span(9,3);
    }
    @include breakpoint($L) {
      margin-top: 3rem;

    }
    h1 {
      opacity: 0;
      color: white;
      @include font-size(1.5);
      text-align: right;
      font-weight: 300;
      @include breakpoint($M) {
        @include font-size(2);
      }
      @include breakpoint($XL) {
        @include font-size(2.5);
      }
      span {
        color: $blue;
        white-space: nowrap;
      }
    }
  }
}
