.no-js body .masthead .caption h1 {
    opacity: 1;
}

.no-anim .masthead .caption h1 {
    opacity: 1;
}

.masthead {
    height: $XS;
    height: 80vh;
    width: 100%;
    background: url(/assets/images/front_header.jpg) no-repeat center 25%;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    @include breakpoint($L) {
        height: $S;
        height: 80vh;
    }
    .caption {
        margin-top: 2rem;
        @include grid-span(7,5);
        @include breakpoint($M) {
            @include grid-span(9,3);
        }
        @include breakpoint($L) {
            margin-top: 3rem;

        }
        h1 {
            opacity: 0;
            color: white;
            font-size: 1.5rem;
            text-align: right;
            @include breakpoint($M) {
                font-size: 2rem;
            }
            @include breakpoint($XL) {
                font-size: 2.5rem;
            }
            span {
                color: $blue;
                white-space: nowrap;
            }
        }
    }
}
